/* css Reset  */

.amadi {
    display: flex;
    /* flex-direction: row-reverse;  */
    background-color: lightblue;
    padding: 10;
    margin: 20px;
    /* justify-content: space-evenly; */
    height: 40vh;
    /* align-items: center; */
    justify-content: flex-end;
    /* flex-direction: column; */
    align-items: flex-end;
}

.wife {
    flex-grow: 1;
}

.children {
    flex-grow: 2;
}

.family {
    flex-grow: 3;
}

.wife {
    flex-grow: ;
}

.children {
    flex-grow: ;
}

.family {
    flex-grow: ;
}

.wife {
    flex-shrink: ;
}

.children {
    flex-shrink: ;
}

.family {
    flex-shrink: ;
}

.box {
    background-color: white;
    margin: 5px;

}
.boxy1 {
    flex-shrink: 2;
}
.boxy2 {
    flex-shrink: 1;
}
.boxy3 {
    flex-shrink: 0;}
    
.boxy1 {
    padding: 10px;
    height: 10;
    background-color: purple;
}

.boxy2 {
    background-color: red;
}

.boxy3 {
    background-color: green;
}

.boxy4 {
    background-color: blue;
}

.container {
    position: relative;
}