/* css Reset  */

.amadi {
    display: flex;
    /* flex-direction: row-reverse;  */
    background-color: lightblue;
    padding: 10;
    margin: 20px;
    /* justify-content: space-evenly; */
    height: 40vh;
    /* align-items: center; */
    justify-content: flex-end;
    /* flex-direction: column; */
    align-items: flex-end;
}

.wife {
    flex-grow: 1;
}

.children {
    flex-grow: 2;
}

.family {
    flex-grow: 3;
}

.wife {
    flex-grow: ;
}

.children {
    flex-grow: ;
}

.family {
    flex-grow: ;
}

.wife {
    flex-shrink: ;
}

.children {
    flex-shrink: ;
}

.family {
    flex-shrink: ;
}

.box {
    background-color: purple;
    width: 100px;
    height: 100px;
    border: 10px;
    
}

.box1 {
    background-color: purple;
}

.box2 {
    background-color: red;
}

.boxy3 {
    background-color: green;
}

.boxy4 {
    background-color: blue;
}
.container{
    position: relative;
}